nav {
    background-color: #800000;
    height: 60px;
    text-align: center;
}

nav a {
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

footer {
    background-color: #800000;
    height: 50px;
    text-align: center;
}

footer a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

div {
    background-color: lightgray;
    text-align: left;
    padding-bottom: 20px;
}

h2 {
    background-color: #800000;
    color: white;
    height: 45px;
    padding-top: 15px;
    padding-left: 10px;
}

#h1Div {
    background-color: white;
    height: 50px;
}

#h1Div2 {
    background-color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#indexDiv {
    text-align: center;
    padding-top: 20px;
}

img {
    width: 250px;
    height: auto;
    margin: auto;
}