nav {
    background-color: #800000;
    color: white;
    height: 50px;
}

nav a {
    margin: auto;
    font-size: 2em;
}

footer {
    background-color: #800000;
    color: white;
}

div {
    background-color: lightgray;
    text-align: left;
    padding-bottom: 20px;
}

h2 {
    background-color: #800000;
    color: white;
}

h3 {
    background-color: gray;
}

#indexDiv {
    text-align: center;
}

img {
    width: 250px;
    height: auto;
}
